<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PayalNGO"
        tools:targetApi="31">

        <activity
            android:name=".SplashscreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginWithMobile"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".VolunteerRequest"
            android:exported="false" />
        <activity
            android:name=".Volunteer"
            android:exported="false" />
        <activity
            android:name=".Gallery"
            android:exported="false" />
        <activity
            android:name=".help"
            android:exported="false" />
        <activity
            android:name=".News"
            android:exported="false" />
        <activity
            android:name=".Events"
            android:exported="false" />
        <activity
            android:name=".VolunteerData"
            android:exported="false" />
        <activity
            android:name=".AllMessagesActivity"
            android:exported="false" />
        <activity
            android:name=".DonationsActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUsersActivity"
            android:exported="false" />
        <activity
            android:name=".DonationHistory"
            android:exported="false" />
        <activity
            android:name=".AdminPanel"
            android:exported="false" />
        <activity
            android:name=".ContactUS"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".aboutUs"
            android:exported="false" />
        <activity
            android:name=".storie"
            android:exported="false" />
        <activity
            android:name=".donation"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />

        <activity
            android:name=".AddContentActivity"
            android:exported="false" />
        <activity
            android:name=".DeleteContentActivity"
            android:exported="false" />
        <activity
            android:name=".AddBannerActivity"
            android:exported="false" />

    </application>

</manifest>